body {
    direction: rtl;
    font-family: 'FONTSPRING DEMO - Loew';

}

.float-right {
    float: left !important;
}

.float-left {
    float: right !important;
}

.nav {
    margin-left: 0 !important;
}
.test-10 {
    width: 170px;
}
.doctors-name {
    font-size: 15px;
    font-weight: 500;
    margin-top: -8px;
}
.doctors-position1 {
    color: #898989;
    font-size: 18px;
    margin-left: 16px;
    line-height: 20px;
    text-align: start;
}
.size {
    padding-right: 8px;
    font-size: 13px;
}
.doctors-name{
    direction: rtl;
    text-align: right;
    margin-right: 10px;
}
.doctors-position1{
    text-align: right;
    margin-right: 10px;
}
.size{
    text-align: right;
    margin-right: 0px;
}
#navbar {
    justify-content: end;
}

.owl-stage-outer {
    direction: ltr;
}
.text-white{
    text-align: right;
}
.loc{
    margin-right: 15px;
}
.p-edit{
    font-weight: 600;
    font-size: 16px;
}
.padding-loc {
    padding-left: 100px;
}
.padding-loc1{
    padding-left: 60px;
}
.social-icons {
    margin-left: 42% !important;
}
ol{
    color: black;
}
.parah-font {
    color: black;
}
.row-mar{
    margin-right: 33px;
}
h6{
    font-weight: 600 !important;
}
.send-email{
    font-size: 12px;
}
.faqs4{
    padding: 20px;
}
.faqs5{
    padding: 9px;
}
.faqs2{
    padding: 19px;
}
.faqs3{
    padding: 18px;
}
.top-nav-search .btn{
    left: 16px;
    text-align: end;
}
.top-nav-search .btn1 {
    left: -21px;
    right: 318px;
}
.logo img {
    height: 65px;
}
.item1{
    width: 95%;
}
.collapse{
    padding-top: 13px;
}
.img-footer{
    width: 70%;
}
.call_us{
    margin-top: 50px;
}
.col-mds{
    text-align: right;
}
.model-header-edit{
    direction: ltr;
}
.modal-img {
    padding-left: 29%;
}
.text-dark {
    color: #343a40!important;
    margin-right: 24px;
    font-weight: 600;

}
.tasks{
    height: 310px;
}
.text-edit{
    margin-right: 4px !important;
}
.tow-rtl{
    text-align: right
}

@media(max-width:1199px) {
    .hero {
        width: 100%;
        margin-top: -128px;
    }
    .top-nav-search .btn1 {
        left: -25px;
        right: 244px;
    }
}
@media(max-width:991px) {
    .top-nav-search .btn1 {
        left: -27px;
        right: 189px;
    }
    .top-nav-search .btn1 {
        left: -27px;
        right: 216px;
    }
    .page_title img {
        height: 50px;
    }
    .text-white{
        font-size: 28px;
    }
}
@media(max-width:767px) {

    .top-nav-search .btn1 {
        left: 45px;
        right: 626px;
    }
    .page_title img {
        height: 50px;
    }
    .hero {
        width: 100%;
        margin-top: -150px;
    }
    .absolute {
        position: absolute;
        bottom: -293px !important;
        left: 113px;
    }
}
@media(max-width:690px) {
    .top-nav-search .btn1 {
        left: 45px;
        right: 574px;
    }
}
@media(max-width:600px) {
    .top-nav-search .btn1 {
        left: 45px;
        right: 529px;
    }
}
@media(max-width:580px) {
    .top-nav-search .btn1 {
        left: 34px;
        right: 439px;
    }
}
@media(max-width:479px) {

    .test-10 {
        width: 157px;
    }
    .task7 {
        font-size: 18px !important;
        text-decoration: underline;
    }
    .text1 {
        font-size: 18px;
        align-items: center;
        margin-top: 7px;
    }
    .hero {
        width: 84%;
        margin-top: -73px !important;
    }
    .top-nav-search .btn1 {
        left: 0px;
        right: 349px;
    }
    .taskss-h{
        text-align: right;
    }
    .absolute {
        position: absolute;
        bottom: -273px !important;
        left: 27px ;
    }
    .input_pho{
        width: 60%;
    }
    .text_body{
        text-align: right;
    }
    .tasks{
        height: 49%;
    }
    .col-mds {
        text-align: center;
    }
    .row-middle {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 1px 1px 8px 0;
    }
    .img-footer {
        width: 80%;
    }
    .social-icons {
        margin-left: 0% !important;
    }
    .page_title img {
        height: 50px;
    }
    .text-white {
        text-align: center;
    }
    
    

}

@media(max-width:390px) {
    .top-nav-search .btn1 {
        left: 2px;
        right: 291px;
    }
    .absolute {
        position: absolute;
        bottom: -263px !important;
        left: 27px !important ;
    }
}
@media (max-width: 540px){
    .absolute {
        position: absolute;
        bottom: -299px;
        left: 112px !important;
    }
}


@media(max-width:360px) {
    .absolute {
        position: absolute;
        bottom: -261px !important;
        left: 18px  !important;
}
}
@media(max-width:575px) {
    .hero {
        width: 84%;
        margin-top: -132px;
    }
    .absolute {
        position: absolute;
        bottom: -299px ;
        left: 42px !important;
    }
}
@media(max-width:280px){
    .hero {
        width: 100%;
        margin-top: -47px;
    }
    .absolute {
        position: absolute;
        bottom: -226px !important;
        left: 5px;
    }
    .test-10{
        width: 100%;

    }
}